{
  "parser": "@babel/eslint-parser",
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": false,
      "codeFrame": false
    },
    "plugins": ["prettier"],
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "env": {
      "browser": true,
      "jest": true
    },
    "rules": {
      "max-classes-per-file": ["error", 4],
      "max-len": ["error", {"code": 100}],
      "prefer-promise-reject-errors": ["off"],
      "react/jsx-filename-extension": ["off"],
      "react/prop-types": ["warn"],
      "no-return-assign": ["off"],
      "react/jsx-one-expression-per-line": ["off"],
      "jsx-a11y/label-has-for": ["off"],
      "jsx-a11y/label-has-associated-control": ["off"],
      "react/jsx-props-no-spreading": ["off"]
    }
}
